@{
    ViewBag.Title = "Home Page";
}
<table class="table table-bordered table-hover">
@foreach (var item in ViewBag.Workers)
{

    <tr id="r-@item.Id">
        <form method="get" action="/Home/UpdateWorker">
            <td><input type="hidden" name="id" value="@item.Id">@item.Id</td>
            <td><input type="text" name="firstName" value="@item.FirstName" /></td>
            <td><input type="text" name="lastName" value="@item.LastName" /></td>
            <td>
                <select id = "chief-@item.Id" onclick="loadChiefs('@item.Id')"></select>
            </td>
            <td><input type="submit" value="Редактировать"/></td>
        </form>
        <form method="get" action="/Home/DeleteWorker">
            <td>
                <input type="hidden" name="id" value=@item.Id />
                <input type="submit" value="удалить">
            </td>
        </form>
    </tr>

}
    <tr>
        <form method="get" action="/Home/CreateWorker">
            <td></td>
            <td><input type="text" name="firstName" value="" /></td>
            <td><input type="text" name="lastName" value="" /></td>
            <td><input type="text" name="chiefId" value="" /></td>
            <td><input type="submit" value="Добавить" /></td>
            <td></td>
        </form>
    </tr>
</table>

@section Scripts
{
<script>
    function loadChiefs(id) {
        var base = document.getElementById("chief-" + id);
        base.innerHTML = "";
        console.log(base);
        $.post("/home/GetChiefs", { id: id }, function (result) {
            result = JSON.parse(result);
            console.log(result);
            $.each(result, function (i, val) {
                console.log(val);
                var div = document.createElement('option');
                div.id = '"' + id + ' ' + val['Id'] + '"';
                div.innerHTML = val['FirstName'] + ' ' + val['LastName'];
                base.appendChild(div);
            })
        })
    }
</script>
}